.adminPage {
    display: block;
    margin-left: 1em;
}
.changeTitle {
    margin: 15px;
}
.title {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.inStock {
    display: inline-flex;
}
.dropDown {
    margin-left: 5px;
}